.inputEl{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    outline: none;
    font-size: 16px;
}
.label{
    font-size: 16px;
}
.logo-container{
    border: 1px solid blue;
    border-radius: 6px;
}
.errMsg{
    color: red;
    text-align: left;
    font-size: 14px;
}
.successMsg{
    color: rgb(3, 163, 6);
    font-size: 18px;
}