.App {
  min-height: 100vh;
  background-color: rgb(240, 235, 235);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.title{
  color:#011235
}
.form-container{
  background-color: #ffffff;
  border-top-left-radius: 10px ;
  border-bottom-left-radius: 10px;
}
.image-container{
  background-color: rgb(37, 91, 241);
  border-top-right-radius: 10px ;
  border-bottom-right-radius: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
