.logo-image{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.navItem{
    color: white !important;
    font-weight: 500;
}

.main-container-bg{
    background-color: rgb(66, 66, 141);
    min-height: 100vh;
}
.heading{
    color: rgb(136, 246, 34);
    font-size: 56px;
}
.description{
    color: beige;
    font-size: 24px;
}
.signup-link{
    color: rgb(222, 234, 82);
    font-weight: 600;
    text-decoration: underline;
    font-size: 26px;
}
@media (max-width:767px){
    .heading{
        color: rgb(136, 246, 34);
        font-size: 40px;
    }
    .description{
        color: beige;
        font-size: 18px;
    }
    .signup-link{
        color: rgb(222, 234, 82);
        font-weight: 600;
        text-decoration: underline;
        font-size: 22px;
    }
}