.pdbg-container {
    min-height: 92.3vh;
    background-color: rgb(248, 250, 251);
}

.title {
    color: rgb(62, 62, 118);
    font-size: 36px;
    font-weight: 500;
}

.des {
    color: rgb(56, 56, 58);
    font-size: 18px;
    font-weight: 500;
}

.image2 {
    width: 300px;
    height: 300px;
}

@media (max-width:768px) {
    .title {
        font-size: 30px;
    }
    
    .des {
        font-size: 17px;
    }
    
    .image2 {
        width: 250px;
        height: 250px;
    }
}
@media (max-width:425px) {
    .title {
        font-size: 26px;
    }
    
    .des {
        font-size: 15px;
    }
    
    .image2 {
        width: 220px;
        height: 220px;
    }
}