.bg-container {
    min-height: 92.3vh;
    background-color: rgb(127, 165, 255);
}
.image{
    height: 600px;
    width: 600px;
    border-radius: 300px;
}
@media (max-width:1024px){
    .image{
        height: 500px;
        width: 500px;
        border-radius: 250px;
    }
}
@media (max-width:768px){
    .image{
        height: 400px;
        width: 400px;
        border-radius: 200px;
    }
}
@media (max-width:500px){
    .image{
        height: 250px;
        width: 250px;
        border-radius: 125px;
    }
}